[submodule "themes/basedoff"]
	path = themes/basedoff
	url = https://github.com/janlimpens/hugo-theme-basedoff.git
[submodule "public"]
	path = public
	url = https://github.com/janlimpens/janlimpens.github.io.git
