{{ define "main" }}
    {{/*  _default/list      */}}
    <h1>{{.Title}}</h1>
    <div id="content">
        {{.Content}}
    </div>
    <div>
        {{- $paginator := .Paginate (where .Data.Pages "Params.hidden" "ne" true) -}}
        {{- range $paginator.Pages -}}
        <div class="gallery">
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <div>
                {{ .Content }}
            </div>
            {{ with .Resources.ByType "image" }}
            <ul>
                {{range .}} 
                <li>
                    {{ $img := .Fill "100x100 center" }}
                    {{ $href := .Fit "600x600"}}
                    <a href="{{$href.RelPermalink}}" data-lightbox="gallery"><img src="{{$img.RelPermalink}}"/></a>
                {{end}}
                </li>
            </ul>
            {{- end -}}               
        </div>
        {{- end }}
    </div>
    {{- template "partials/paginator.html" . }}
{{ end }}


