{{ define "main" }}
<div id="content">
    <h1>{{.Title}}</h1>
    {{.Content}}
    {{- $paginator := .Paginate (where .Data.Pages "Params.hidden" "ne" true) -}}
    <div class="list">
        {{- range $paginator.Pages -}}
        <div class="list-item">
            <article class="article">
                <h2><a href="{{.Permalink}}">{{ .Title }}</a></h2>
                <div class="article-content">
                    {{ .Content }}
                </div>
                {{ partial "partials/gallery.html" . }}
            </article>
        </div>
        {{- end }}
    </div>
    {{- template "partials/paginator.html" . }}
</div>
{{ end }}