<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<body>
    <style type="text/css">
        .gallery ul li {
            display: inline;
            float: left;
            list-style: none;
            margin-bottom: 0;
        }
        .gallery a {margin: 0;}
        .gallery img {margin: 0.5em;}
    </style>
	<div class="container wrapper post">
		{{ partial "head.html" . }}

		<div class="post-header">
			<h1 class="title">{{ .Title }}</h1>
            <div class="meta">Ano: {{ dateFormat "2006" .Date }}</div>
            <div class="meta">Cliente: </div>
		</div>

        <div class="gallery">
{{ $fit := .Params.fit }}
{{ with .Resources.ByType "image" }}
            <ul>
{{ range . }}
{{ $img := .Fit $fit }}
{{ $href := .Fit "800x800"}}
                <li>
                    <a href="{{$href.RelPermalink}}"><img src="{{$img.RelPermalink}}" /></a>
                </li>
{{ end }}
            </ul>
{{ end }}

		</div>
	</div>
    {{ partial "footer.html" . }}
    {{ $built := resources.Get "node_modules/jquery/dist/jquery.js" | js.Build "main.js" }}
    <script type="text/javascript" src="{{ $built.RelPermalink }}" defer></script>

</body>
</html>

