{{- define "main" }}
<article class="article">
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <div class="flex-row">
        <aside class="article-meta">
            <div>Ano: {{ dateFormat "2006" .Date }}</div>
            {{ with .Params.Publisher }}
            <div>Editora: {{.}}</div>
            {{end}} {{ with .Params.Author }}
            <div>Autor: {{.}}</div>
            {{end}} {{ template "partials/social.html" . }}
        </aside>
        <div class="article-content">
            {{ .Content }}
        </div>
    </div>
</article>

{{ partial "gallery.html" . }} {{- end }}