.gallery h2 {
  margin: 0;
}
.gallery ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 0;
}
.gallery ul li {
  float: left;
  list-style: none;
  margin-bottom: 0;
}
.gallery a {
  margin: 0;
}
.gallery img {
  margin: 0.1em;
}

ul.pagination {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
}

ul.pagination li {
  list-style: none;
  margin-right: 1em;
}
