.gallery h2 {
  margin: 0;
}
.gallery ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
}
.gallery ul li {
  list-style: none;
  margin: 0;
}
.gallery a {
  margin: 0;
}
.gallery img {
  margin: 0.1em;
}

ul.pagination {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
}

ul.pagination li {
  list-style: none;
  margin-right: 1em;
}

.article p:first {
  margin-top: 0;
}

.article-meta * {
  color: gray;
}

.article-meta ul {
  margin-top: 0;
}

.article-meta li {
  margin: 0;
}


h1,
h2,
h3 {
  font-family: "Raleway" !important;
  font-style: normal !important;
  font-weight: 300 !important;
}
