{{- $hrefFit := $.Page.Param "image-fit" | default $.Page.Site.Params.defaultImageFit }} {{- $thumbCrop := $.Page.Param "thumb-crop" | default $.Page.Site.Params.defaultThumbCrop }} {{- $galleryId := md5 $.Page.Permalink -}}
<div class="gallery">
    {{- with $.Page.Resources.ByType "image" }}
    <ul>
        {{- range . }}
        <li>
            {{- $thumbHref := .Fill $thumbCrop }} {{- $href := .Fit $hrefFit}}
            <a href="{{$href.RelPermalink}}" data-lightbox="gallery-{{$galleryId}}">
                <img src="{{$thumbHref.RelPermalink}}" />
            </a>
        </li>
        {{- end }}
    </ul>
    {{- end }}
</div>